<h1>Preguntas frecuentes</h1>
<dl>
        <dt>¿Qué es Barrios en Acción?</dt>
        <dd>Barrios en Acción es un sitio que permite a la ciudadanía a reportar, ver y discutir problemas locales, haciéndolos llegar al Municipio correspondiente simplemente al localizarlos en un mapa. Barrios en Acción está funcionando como un piloto en el marco del desarrollo de un Plan de Seguridad Comunitaria en el barrio Barrios, iniciativa liderada por el centro de urbanismo ciudadano <a href="http://www.ciudadviva.cl/" target="_blank">Ciudad Viva</a>. El proyecto cuenta con financiamiento del Fondo Nacional de Seguridad Pública de la Subsecretaría de Prevención del Delito. Barrios en Acción es una adaptación de la plataforma británica FixMyStreet , desarrollada en Chile por la <a href="http://www.ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a>.</dd>
        <dt>¿Cómo me contacto con Barrios En Acción?</dt>
        <dd>Escríbenos a bellavista@ciudadviva.cl o llámanos al 27373072.</dd>
        <dt>¿Qué tipo de problemas puedo reportar en Barrios en Acción?</dt>
        <dd>Barrios en Acción es principalmente para reportar cosas que estén en mal estado, sucias o funcionando indebidamente, y que necesiten ser arregladas o fiscalizadas, como por ejemplo:

    <ul><li>Luminarias en mal estado</li>
    <li>Acumulación de basura en las veredas</li>
    <li>Veredas o calles en mal estado</li>
    <li>Vehículos mal estacionados</li>
    <li>Casas abandonadas</li>
    <li>Ruidos molestos</li>
    </ul>
    La plataforma también te permite
    <ul>
        <li>Consultar tus reportes.</li>
        <li>Consultar los reportes por comuna.</li>
        <li>Consultar los problemas que se han resuelto.</li>
        <li>Actualizar tus reportes y los de otras personas. Puedes notificar que un problema ya fue resuelto o que se ha reactivado.</li>
    </ul>
    </dd>

    <dt>¿Para qué NO es Barrios en Acción?</dt>
    <dd>Barrios en Acción no es un mecanismo para ponerse en contacto con la Municipalidad por todo tipo de problemas. Debes contactarte directamente con la autoridad competente para problemas como:

    <ul><li>Robos, hurtos, agresiones o cualquier tipo de delito</li>
<li>Comportamiento antisocial</li>
<li>Personas en actitud sospechosa</li>
<li>Situaciones de emergencia </li>
<li>Reclamos contra los vecinos</li>
<li>Reclamos contra el Municipio</li>
<li>Actos de crueldad animal</li>
    </ul>
    </dd>

        <dt>¿Cómo uso el sitio?</dt>
        <dd>Después de ingresar una calle o lugar, aparece un mapa del barrio. Puedes ver los problemas que ya han sido reportados en el área, o hacer tus propios reportes simplemente haciendo click en el mapa en la ubicación del problema.</dd>
        <dt>¿Cómo se resuelven los problemas?</dt>
        <dd>Se reportan al Municipio correspondiente por correo electrónico. El Municipio puede entonces resolver el problema de la forma que lo hace normalmente. En su defecto, puedes usar el sitio para discutir el problema con otras personas y luego en conjunto dirigirse al Municipio para que lo arregle, o arreglarlo ustedes directamente.</dd>
        <dt>¿Quitan contenido inapropiado?</dt>
        <dd>Barrios en Acción no es responsable por el contenido o la precisión de la información entregada por sus usuarios. Nos reservamos el derecho de editar o remover problemas o reportes que consideremos inapropiados luego de ser informados de esto por algún usuario.</dd>
    </dl>
