<div id="report-created-header" data-role="header">
    <a class="ui-btn-left">Inicio</a>
    <h1>Reporte creado</h1>
</div>
<div data-role="content">
    <% if ( typeof email_confirm != 'undefined' && email_confirm === 1 ) { %>
    <h3>Email de confirmación enviado</h3>

    <p>Te enviamos un mail de confirmación que podría demorarse un par de minutos en llegar. Cuando recibas el email has click en el link para confirmar tu reporte.
    </p>
    <% } else { %>
    <h3>Gracias. Tu reporte será enviado a las autoridades inmediatamente.</h3>

    <p class="center"><input type="button" data-theme="a" id="open_report" value="View it on the site"></p>
    <% } %>


    <div class="bottom-btn">
        <input type="button" id="id_report_another" data-theme="a" value="Crea un nuevo reporte" >
    </div>
</div>
