<div id="submit-header" data-role="header">
    <h1>Tus detalles</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Ingresa una contraseña para tu cuenta. Esta no se activará hasta que no hagas click en el mail de confirmación
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Tu contraseña" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Continue">
        </div>
    </div>
    </form>
</div>
